<div class="footer-menu {% if include.fixed %} fixed {% endif %}">
    <a href="https://twitter.com/DelendumV" target="_blank"><img alt="youtube" src="{{ '/assets/twitter.png'}}"></a>
    <a href="https://www.youtube.com/channel/UCM7Dc3y3BVTTpprDidVV7iw" target="_blank"><img alt="youtube"
                                                                                            src="{{ '/assets/youtube.png'}}"></a>
    <a href="https://github.com/delendum-xyz" target="_blank"><img alt="youtube" src="{{ '/assets/github.png'}}"></a>
</div>
