<div class="footer {% if include.fixed %} fixed {% endif %}">
    <img class="footer-png" alt="footer_bg" src="{{ '/assets/footer.png'}}">

    <div class="footer-menu">
        <a href="https://twitter.com/DelendumV" target="_blank">
            <img alt="twitter" src="{{ '/assets/twitter.png'}}">
        </a>
        <a href="https://www.youtube.com/channel/UCM7Dc3y3BVTTpprDidVV7iw" target="_blank">
            <img alt="youtube" src="{{ '/assets/youtube.png'}}">
        </a>
        <a href="https://github.com/delendum-xyz" target="_blank">
            <img alt="github" src="{{ '/assets/github.png'}}">
        </a>
    </div>
</div>
