{% if page.preview %}
<meta property="og:image" content="{{site.baseHttp}}{{page.preview}}"/>
<meta property="og:image:secure_url" content="{{site.base}}/{{{imagePath}}}"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{site.base}}{{page.url}}"/>
<meta property="og:title" content="{{page.title}}"/>
<meta property="og:description" content="{{page.excerpt}}"/>
{% endif %}