<!DOCTYPE html>
<html lang='{{ site.lang | default: "en-US" }}'>
<head>
    <meta charset="UTF-8">
    {% include common.html %}
    {% seo %}
    {% include head-custom.html %}
    {% include preview.html %}
</head>
<body>
{% include menu.html %}
<main id="content" class="main-content main-content-team" role="main">
    <div class="page-link-container">
        <a class="menu-link {% if page.collection == 'about' or page.tags contains 'about' %} bold {% endif %}" href="/about">about</a>
        <a class="menu-link {% if page.collection == 'team' or page.tags contains 'team' %} bold {% endif %}" href="/team">team</a>
        <a class="menu-link {% if page.collection == 'careers' or page.tags contains 'careers' %} bold {% endif %}" href="/careers">careers</a>
    </div>
    {{ content }}
</main>
{% include footer.html %}
</body>
</html>