<!DOCTYPE html>
<html lang='{{ site.lang | default: "en-US" }}'>
<head>
    {% include common.html %}
    {% seo %}
    {% include head-custom.html %}
</head>
<body class="body-main-page">
<!-- {% include menu.html logoless=true %} -->
<header class="page-header" role="banner">
    <h1 class="project-name"><img src="{{ '/assets/dv-logo-text.svg'}}"></h1>
    <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    <!-- <h2 class="project-tagline">{{ site.contact }}</h2> -->
    <div class="header-menu-list">
        <a class="menu-link" href="/writing">research</a>
        <a class="menu-link" href="/infrastructure">infrastructure</a>
        <a class="menu-link" href="/products">product</a>
        <a class="menu-link" href="/team">company</a>
        <a class="menu-link" href="/fellow">fellowship</a>
    </div>
</header>
{% include footer.html %}
<main id="content" class="main-content" role="main">
    {{ content }}
</main>
</body>
</html>